<?xml version="1.0" ?><settings>
	<category id="Common" label="Common">
		<setting default="false" id="validate" label="Validate Channels on next run" type="bool"/>
		<setting default="8010" id="port" label="Proxy Server Port" type="number"/>
		<setting default="false" id="pvr" label="Configure IPTV Simple On Startup" type="bool"/>
		<setting default="1.1.1.1" id="internetaddress" label="Address to check if internet is available" type="text"/>
		<setting default="First highest quality variant in first alive stream" id="pvr_resolve_mode" label="Resolve Mode for PVR Proxy" type="select" values="First highest quality variant in first alive stream|First alive stream with all variants|All streams with all variants redundantly"/>
	</category>
	<category id="Scrapers" label="Scrapers">
		<setting default="http://selcuksportshd3.com" id="selcuk" label="Selcukspor address" type="text"/>
	</category>
</settings>