<?xml version="1.0" ?><settings>
	<category id="Common" label="Common">
		<setting default="primewire.tf" id="domain" label="Domain" type="text"/>
	</category>
	<category id="Movies" label="Movies">
	    <setting default="Trending Today" id="sortmovie" label="Sort Results" type="labelenum" values="Featured|Just Added|Popular|Trending Today|Trending this Week|Trending this Month|External Rating|Primewire Rating|Favorites|Favorites per view|Views|Release|Alphabet|In Theaters|Streaming Release|New"/>
		<setting default="false" label="Show only high quality tagged" type="bool" id="highq"/>
		<setting default="0" label="Last Released Year (0: means all)" type="number" id="lastreleased"/>
	</category>
	<category id="Movies" label="Movies">
	    <setting default="Trending Today" id="sorttv" label="Sort Results" type="labelenum" values="Just Added|Popular|Trending Today|Trending this Week|Trending this Month|External Rating|Primewire Rating|Favorites|Favorites per view|Views|Release|Alphabet|Series Premiere|Season Premiere|In Theaters|Streaming Release|New"/>
	</category>
</settings>