<?xml version="1.0" ?>
<settings>
	<category id="about" label="About">
		<setting label="Acestream Engine:" type="lsep"/>
		<setting label="This Addon is completely free, and distributed under GPL License" type="lsep"/>
		<setting label="you can not sell, rent or make profit out of it." type="lsep"/>
		<setting label="" type="lsep"/>
		<setting label="To get support about this addon, visit:" type="lsep"/>
		<setting label="http://github.com/hbiyik" type="lsep"/>
	</category>
	<category id="ace" label="Acestream">
		<setting default="false" id="ace_isremote" label="Connect Remote Acestream Engine" type="bool"/>
		<setting id="ace_remoteip" label="Remote Server Address" type="ipaddress" visible="eq(-1,true)"/>
		<setting default="6878" id="ace_port" label="Aceengine HTTP port" type="number"/>
		<setting default="100" id="ace_max_connections" label="Limit number of total connections" type="number" visible="eq(-3,false) + !System.Platform.Android()"/>
		<setting default="50" id="ace_max_peers" label="Limit number of connections to other peers" type="number" visible="eq(-4,false) + !System.Platform.Android()"/>
		<setting default="0" id="ace_max_upload_speed" label="Maximum Upload speed (Kbyte/s, 0=no restrictions)" type="number" visible="eq(-5,false) + !System.Platform.Android()"/>
		<setting default="0" id="ace_max_download_speed" label="Maximum Download speed (Kbyte/s, 0=no restrictions)" type="number" visible="eq(-6,false) + !System.Platform.Android()"/>
		<setting default="false" id="ace_usecwd" label="Use Acestreamengine binary from a specific location" type="bool" visible="eq(-7,false) + !System.Platform.Android()"/>
		<setting id="ace_cwd" label="Acestreamengine binary path" type="folder" source="local" visible="eq(-8,false) + !System.Platform.Android() + eq(-1,true)"/>
		<setting id="ace_isrunnning" type="bool" default="false" visible="false"/>
		<setting id="ace_address" type="text" visible="false"/>
	</category>
</settings>