<?xml version="1.0" ?><settings>
	<category id="Common" label="Common">
		<setting default="flixanity.app" id="domain" label="Domain" type="text"/>
		<setting default="Trending" id="sortm" label="Sort Movies" type="select" values="Trending|Popular|Imdb Rating|Rating|Most Watched|Highest Grossing|Release Date"/>
		<setting default="Currently Airing" id="sorts" label="Sort Series" type="select" values="Trending|Currently Airing|Favorites|Imdb Rating|Rating|Most Watched"/>
	</category>
</settings>